params {
	help          	 = false 
	d1_file       	 = null
	d2_file       	 = null
	cli_file      	 = null
	cli_attribute 	 = null
	outdir        	 = "results"
	publish_dir_mode = 'copy'
}

includeConfig 'conf/modules.config'

profiles {
	docker { 
		docker.enabled       = true 
		docker.userEmulation = true
		process.container 	 = 'proteomics/cosmo:latest' 
	}

	test { includeConfig 'conf/test.config' }
}
