process {
    publishDir = [
        path: { "${params.outdir}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: 'PREPROCESS' {
        publishDir = [
            path: { "${params.outdir}/genome" },
            mode: params.publish_dir_mode,
            enabled: false
        ]
    }

    withName: 'METHOD1' {
        publishDir = [
            path: { "${params.outdir}/method1" },
            mode: params.publish_dir_mode,
        ]
    }

    withName: 'METHOD2' {
        publishDir = [
            path: { "${params.outdir}/method2" },
            mode: params.publish_dir_mode,
        ]
    }
    
    withName: 'COMBINE' {
        publishDir = [
            path: { "${params.outdir}/final" },
            mode: params.publish_dir_mode,
        ]
    }
}