params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    d1_file = "${projectDir}/example_data/test_pro.tsv"
    d2_file = "${projectDir}/example_data/test_rna.tsv"
    cli_file = "${projectDir}/example_data/test_cli.tsv"
    cli_attribute = 'gender,msi'

    // Only use a few CPUs for testing
    max_cpus = 2
    max_memory = '8G'
}